<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/app.js" type="text/javascript" defer></script>
  <title>Hello Page</title>
</head>
<body>
  <button><a href="/">Home Page</a></button>
  <section>
    <h1>{{title}}</h1>
    <p>{{message}}</p>
    {{#each result}}
      <p>{{this.name}} {{this.fname}}</p>
      <p>{{this.company}}</p>
      <p>{{this.total_classes}}</p>
    {{/each}}
  </section>
</body>
</html>
