<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- CSS & Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
    <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- JS -->
  <script src="/js/main.js" type="text/javascript" defer></script>
  <script src="/js/header.js" type="text/javascript" defer></script>
  <title>Accueil</title>
</head>
<body class="body">
  {{>header}}
  <section class="container-fluid">
    <div class="row">
      <div class="col-12">
        <form action="/add-compay" method="POST" class="my-2">
         <fieldset >
           <legend>Ajouter une nouvelle entreprise</legend>
           <p class="p-in-form">
             <label for="company_name">Nom d'entreprise:</label>
             <input type="text" id="company_name" name="company_name">
           </p>
           <p class="p-in-form">
             <input class="clear-form submit-entreprise" type="submit" value="Ajouter">
           </p>
         </fieldset>
        </form>
      </div>
      <div class="col-12 d-flex justify-content-around align-items-start">
        <div class="list-of-trainers my-2">
          <h3>Liste des professeurs</h3>
          <p>clicker sur le nom de professeur pour voir sa fiche</p>
          <table style="width: 100%">
            <thead>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Numéro de téléphone</th>
            </thead>
            <tbody>
              {{#each result}}
              <tr class="trainer-info">
                <td><a href="/trainer/{{this.name}}{{this.fname}}">{{this.fname}}</a></td>
                <td><a href="/trainer/{{this.name}}{{this.fname}}">{{this.name}}</a></td>
                <td><a href="/trainer/{{this.name}}{{this.fname}}">{{this.mobile}}</a></td>
                <td><button class="delete-trainer" type="button" data-toggle="modal" data-target="#myModal" value="{{this.id}}">supprimer</button></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="d-flex flex-column justify-content-start">
          <form id="create-trainer-info" method="POST" class="my-2">
           <fieldset>
             <legend>{{title}}</legend>
             <p class="p-in-form">
               <label for="name">Prénom:</label>
               <input class="create-username" type="text" id="name" name="name">
             </p>
             <p class="p-in-form">
               <label for="fname">Nom de famille:</label>
               <input class="create-username" type="text" id="fname" name="fname">
             </p>
             <p class="p-in-form">
               <label for="username">UserName:</label>
               <input type="text" id="username" name="username">
             </p>
             <p class="p-in-form">
               <label for="email">Adress email:</label>
               <input type="text" id="email" name="email">
             </p>
             <p class="p-in-form">
               <label for="mobile">Numéro de téléphone:</label>
               <input type="text" id="mobile" name="mobile">
             </p>
             <p class="p-in-form">
               <input class="clear-form" type="submit" value="Submit">
             </p>
           </fieldset>
          </form>
          <div class="trainers-planning">
            <h3 class="legend">Creer le planning des professeurs</h3>
            <label for="choose_trainer">Choisissez le nom du professeur</label>
            <select name="choose_trainer" id="choose-trainer">
              <option selected>Nom de professeur</option>
              {{#each result}}
              <option value="{{this.name}} {{this.fname}}">{{this.name}} {{this.fname}}</option>
              {{/each}}
            </select>
            <button type="button"><a id="anchor-in-createplanning">Créer le planning</a></button>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</body>
</html>
