<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/main.js" type="text/javascript" defer></script>
  <title>Home Page</title>
</head>
<body>
  {{>header}}
  <form method="POST">
   <fieldset>
     <legend>{{title}}</legend>
     <p>
       <label for="name">First Name:</label>
       <input class="create-username" type="text" id="name" name="name">
     </p>
     <p>
       <label for="fname">Last Name:</label>
       <input class="create-username" type="text" id="fname" name="fname">
     </p>
     <p>
       <label for="username">UserName:</label>
       <input type="text" id="username" name="username">
     </p>
     <p>
       <label for="email">Email:</label>
       <input type="text" id="email" name="email">
     </p>
     <p>
       <label for="mobile">Mobile phone number:</label>
       <input type="text" id="mobile" name="mobile">
     </p>
     <input class="clear-form" type="submit" value="Submit">
   </fieldset>
  </form>
  <section>
    <table>
      <thead>
        <th>Last Name</th>
        <th>First Name</th>
      </thead>
      <tbody>
        {{#each result}}
        <tr>
          <td><a href="/trainer/{{this.name}}{{this.fname}}">{{this.fname}}</a></td>
          <td><a href="/trainer/{{this.name}}{{this.fname}}">{{this.name}}</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
  <section>
    <h3>Ajouter le planning des professeurs:</h3>
    <label for="choose_trainer">Choisir un professeur</label>
    <select name="choose_trainer" id="choose-trainer">
      <option selected>Nom de professeur</option>
      {{#each result}}
      <option value="{{this.name}} {{this.fname}}">{{this.name}} {{this.fname}}</option>
      {{/each}}
    </select>
    <button type="button"><a id="anchor-in-createplanning">Créer le planning</a></button>
  </section>
  {{>footer}}
</body>
</html>
