<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS & Font -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
    <!-- JS -->
  <script src="/js/createplanning.js" type="text/javascript" defer></script>
  <title>Trainers Page</title>
</head>
<body class="body">
  {{>header}}
  <p id="add-planning">Créez des nouveaux horaires</p>
  <section>
    <div class="trainers-planning intrainersplanning">
      <label for="choose_trainer">Choisissez le nom du professeur</label>
      <select name="choose_trainer" id="choose-trainer">
        <option selected>Nom de professeur</option>
        {{#each listOfAllTrainers}}
        <option value="{{this.name}} {{this.fname}}">{{this.name}} {{this.fname}}</option>
        {{/each}}
      </select>
      <button type="button"><a id="anchor-in-createplanning">Créer le planning</a></button>
    </div>
  </section>
  <section>
    <form id="trainers-planning-form" action="/planning" method="POST">
     <fieldset>
       <legend>Planning de {{result.[0].name}} {{result.[0].fname}}</legend>
       <p>
         <label for="trainer_id">Id:</label>
         <input type="text" value="{{result.[0].id}}" id="trainer_id" name="trainer_id">
       </p>
       <p>
         <label for="name">Prénom:</label>
         <input type="text" value="{{result.[0].name}}" id="name" name="name">
       </p>
       <p>
         <label for="fname">Nom de famille:</label>
         <input type="text" value="{{result.[0].fname}}" id="fname" name="fname">
       </p>
       <p>
         <label for="choose_months">Mois: </label>
         <select name="choose_months" id="choose-months">
           <option selected="selected">{{currentMonth}}</option>
           {{#each months}}
           <option value="{{this}}">{{this}}</option>
           {{/each}}
         </select>
       </p>
       <p>
         <label for="choose_years">Année: </label>
         <select name="choose_years" id="choose-years">
           <option name="current_year" selected="selected">{{currentYear}}</option>
<!--
           {{#each years}}
           <option value="{{this}}">{{this}}</option>
           {{/each}}
-->
         </select>
       </p>
       <p>
         <label for="company">Entreprise:</label>
         <select name="company" id="company">
           <option selected>Choisissez l'entreprise</option>
           {{#each company}}
           <option value="{{this.company}}">{{this.company}}</option>
           {{/each}}
         </select>
       </p>
       <p>
         <label for="date">Date:</label>
         <input type="date" id="date" name="date" required>
       </p>
       <p>
         <label id="label-time" for="time">Heurs du début des cours:</label>
         <input type="datetime-local" id="time" name="time" required>
       </p>
       <p>
         <label for="yoga">Cours: Yoga</label>
         <input type="number" class="every-class" id="yoga" name="yoga" required>
       </p>
       <p>
         <label for="pilates">Cours: Pilates</label>
         <input type="number" class="every-class" id="pilates" name="pilates" required>
       </p>
       <p>
         <label for="video">Cours: Visio</label>
         <input type="number" class="every-class" id="video" name="video" required>
       </p>
       <p>
         <label for="other_classes">Cours: Autre</label>
         <input type="number" class="every-class" id="other_classes" name="other_classes" required>
       </p>
       <p>
         <label for="total_classes">Nombre total d'heurs par intervention:</label>
         <input type="number" id="total_classes" name="total_classes" required>
       </p>
       <p id="submit-new-class">
         <input type="submit" value="Ajouter">
       </p>
     </fieldset>
    </form>
  </section>
  {{>footer}}
</body>
</html>
